.cart{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    color: white;
    margin-left: 70%;
    border-radius: 20px;
    background-color: rgb(28, 122, 51);
}

.menu{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(63, 192, 96);
    color: white;
}

.cart-number {
    background-color:rgb(63, 192, 96);
    border-radius: 20px;
}